<div class="container">
  <h1>User List</h1>
  <table #userTable class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
